# Google Apps Script Web App Deployment URL
# Deploy the Code.gs file from the google-apps-script folder as a Web App in Google Apps Script
# and paste the URL here. E.g., https://script.google.com/macros/s/AKfycbz.../exec
# If this variable is blank, the website runs in "Mock Mode" using localStorage.
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxpjVWAsfQJyza6n99YRy8bHpsX_QYKd9CMU9SB2NhsL4JMaDixC6BhKarY7WV32d8F/exec